{% extends 'base/main.html' %}

{% block content %}
<div class="task-container">
    <div class="header-bar">
        <h3>Task form</h3>
       <button id="leftbutton" class="ripple2">
           <a href="{% url 'tasks' %}">Go back</a>
    </button>

    </div>
    <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
           <button id="leftbutton" class="ripple2" type="submit" value="Submit">
          Confirm
           </button>


    </form>

</div>

{% endblock content %}